<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book-App</title>
</head>
  <body>
    
    <header>
      <h1>Hello World!</h1>
    </header>
    <ul>
      <li>Aloha!</li>
      <li>Buenos dias!</li>
      <li>Bonjour!</li>
    </ul>

    <form action="/contact" method="POST"></form>
      <fieldset>
        <legend>Contact Info</legend>
       <label></label>
        <span>Book Title:</span>
        <input type="text" title ="book_title" placeholder="Limitless">
      </fieldset>
    </form> 

    <% data.forEach(books => %> {
      <ul>
        <li>Title: <%=books.title%></li>
        <li>Author: <%=books.author%></li>
        <li>Description: <%=books.description%></li>
        <li>thumbnail: <%=books.thumbnail%></li>
        <li>url: <%=books.url%></li>
      </ul>
      <%})%>


  </body>
  <footer>The following is sponsered by greetings of the world!</footer>
</html>